*,
*::before,
*::after {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

/* Style properties */
:root {
    --ff-primary: sans-serif ;
    --ff-secondary: sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-grey: #f1f1f1;
    --clr-dark: #333;
    --clr-accent: #a58ba5;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.1rem;

    --bx-s: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* General Styles */

body {
    text-align: center;
}

h1,
h2,
h3,
p {
    margin: 0;
    line-height: 1.6;
} 

h1,
h2,
h3 {
    color: var(--clr-accent);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

p {
    font-size: var(--fs-body);
}

/* Sections */
.posts {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 1em auto;
}

.post {
    max-width: 100%;
    margin: 1em 2em;
    background: var(--clr-grey);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em
}

.posts__header {
    background: var(--clr-accent);
    color: var(--clr-dark);
}

.post__description {
    color: var(--clr-dark);
    font-size: var(--fs-body);
}

img {
    width: 80%;
    object-fit: cover;
    margin: 1em 0;
}

/* Desktop */
@media (min-width: 800px) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.025rem;
    }

    .posts {
        flex-flow: row wrap;
        justify-content: center;
    }

    .post {
        width: 40%;
        justify-content: space-between;
    }

    img {
        order: -1;
    }
}




