*,
*::before,
*::after {
    box-sizing: 0;
}

/* Style properties */
:root {
    --ff-primary:;
    --ff-secondary:;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #333;
    --clr-accent: #5e3b5e;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.1rem;

    --bx-s: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* Desktop */
@media (min-width: 800px) {
    .container {
        flex-flow: row wrap;
    }

    :root {
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.025rem;
    }
    
    img {
        width: 48%;
        margin: 1em auto;
        object-fit: cover;
    } 
}

/* General Styles*/

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

img {
    width: 90%;
    margin: 1em 0;
    object-fit: cover;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var{var(--fs-h3)}
}

p {
    font-size: var(--fs-body);
}

/* Sections */
.post-description {
    color: var(--clr-dark);
    font-size: var(--fs-body);
}



